<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write -->
	<targets>
		<!-- write to file -->
		<target name="fileTarget" xsi:type="File"
			fileName="C:\Users\yoluc\Documents\CineNet\CineNet${shortdate}.txt"
			layout=" ---------------------------------------------------${newline}
				TIME:${longdate} ${newline}
				LEVEL:${uppercase:${level}} ${newline}
				MESSAGE: ${message}${newline}
				STACK-TRACE: ${exception:format=StackTrace} ${newline}
---------------------------------------------------${newline}" />

		<target name="consoleTarget" xsi:type="ColoredConsole" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!-- all logs including Microsoft -->
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
	</rules>
</nlog>