<div>
    <form method="post" id="changePasswordForm">
        <input name="UserId" value="@ViewBag.UserId" hidden/>
        <input name="Token" value="@ViewBag.Token" hidden />
        <div class="card-body p-5 text-center form-form">
            <div class="mb-md-5 mt-md-4 pb-5 login-form">
                <h2 class="fw-bold mb-2">Cambiar contraseña</h2>
                <div class="form-outline form-white mb-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control form-control-lg" placeholder="Ingresa tu nueva contraseña" name="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control form-control-lg" placeholder="Ingresa nuevamente tu nueva contraseña" name="ConfirmPassword" />
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4 pt-1">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $(function () {
            $.validator.setDefaults({
                submitHandler: function (form) {
                    var formData = $(form).serialize();
                    $.ajax({
                        url: '@Url.Action("ChangePassword","Account")',
                        type: "POST",
                        data: formData,
                        success: function (result) {
                            // Manejar la respuesta de la petición AJAX
                            if (result.error) {
                                darMensajeModal("Error", result.mensaje, "error")
                            }
                            else {
                                darMensajeModal("Exito", result.mensaje, "success",function(){
                                    window.location.href = '@Url.Action("Login","Account")'
                                })
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Manejar los errores de la petición AJAX
                            darMensajeModal("Error", errorThrown, "error")
                        }
                    });
                }
            });
            $('#changePasswordForm').validate({
                rules: {
                    Password: {
                        required: true
                    },
                    ConfirmPassword: {
                        required: true
                    }
                },
                messages: {
                    Password: 'El campo es requerido',
                    ConfirmPassword: 'El campo es requerido'
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    console.log("errorPlacement", error, element);
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    })
</script>