<div>
    <form method="post" id="passwordForm">
        <div class="card-body p-5 text-center form-form">
            <div class="mb-md-5 mt-md-4 pb-5 login-form">
                <h2 class="fw-bold mb-2">Recuperar contraseña</h2>
                <div class="form-outline form-white mb-4">
                    <label class="form-label">Ingresa tu dirección de correo electronico</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Ingresa tu dirección de correo electronico" name="UserEmail" />
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4 pt-1">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Enviar</button>
                </div>
                <p class="forgot-pass-new">
                    <a asp-action="Login" asp-controller="Account">Volver</a>
                </p>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $(function () {
            $.validator.setDefaults({
                submitHandler: function (form) {
                    var formData = $(form).serialize();
                    $.ajax({
                        url: '@Url.Action("ValidateChangePassword","Account")',
                        type: "POST",
                        data: formData,
                        success: function (result) {
                            // Manejar la respuesta de la petición AJAX
                            if (result.error) {
                                darMensajeModal("Error", result.mensaje, "error")
                            }
                            else {
                                darMensajeModal("Exito", result.mensaje, "success")
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Manejar los errores de la petición AJAX
                            darMensajeModal("Error", errorThrown, "error")
                        }
                    });
                }
            });
            $('#passwordForm').validate({
                rules: {
                    UserEmail: {
                        required: true
                    }
                },
                messages: {
                    UserEmail: 'El campo es requerido'
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    console.log("errorPlacement", error, element);
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    })
</script>