<div style="max-width: 1200px;">
    <!-- Contenido del modal aquí -->
    <form id="FormCreateMovie" enctype="multipart/form-data">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Crear Pelicula</h3>
            </div>
            <div class="card-body">
                <div class="form-group mx-auto text-center">
                    <img src="" id="imagen-cartelera" class="poster" style="width: 70%;height: 500px;display:none" />
                </div>
                <div class="form-group">
                    <label>Imagen de cartelera</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="form-control" id="inputGroupFile01" name="Image">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nombre de Pelicula</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-film"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre de Pelicula" name="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label>Sinopsis</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-body-text"></i></span>
                        </div>
                        <textarea class="form-control" placeholder="Sinopsis" name="Synopsis"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label>Género</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-file-earmark-play"></i></span>
                        </div>
                        <select name="GenderId" class="form-control" id="generos"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Duración</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-clock"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Duración" name="Duration">
                    </div>
                </div>
                <div class="form-group">
                    <label>Clasificación</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-file-earmark-play"></i></span>
                        </div>
                        <select name="ClasificationId" class="form-control" id="clasificaciones"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Actores</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Actores" name="Actors">
                    </div>
                </div>
                <div class="form-group">
                    <label>Director</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-person-lines-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Director" name="Director">
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelar"><i class="bi bi-arrow-return-left mr-1"></i>Cancelar</button>
                    <button type="submit" class="btn btn-outline-info float-right"><i class="bi bi-download mr-1"></i>Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $.get("@Url.Action("Get","Genders")", function (data) {
            var options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.id + '">' + value.description + '</option>';
            });
            $('#generos').html(options);
        });
        $.get("@Url.Action("Get","Clasifications")", function (data) {
            var options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.id + '">' + value.description + '</option>';
            });
            $('#clasificaciones').html(options);
        });
        $('#inputGroupFile01').on('change', function () {
            if (this.files.length > 0) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    $('#imagen-cartelera').css('display', 'inline');
                    $('#imagen-cartelera').attr('src', event.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            } else {
                $('#imagen-cartelera').css('display', 'none');
                $('#imagen-cartelera').attr('src', '');
            }
        });
        $(function () {
            $.validator.setDefaults({
                submitHandler: function (form) {
                    var formData = new FormData(form);
                    $.ajax({
                        url: '@Url.Action("Create","Movies")',
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            // Manejar la respuesta de la petición AJAX
                            if (result.error) {
                                darMensajeModal("Error", result.mensaje, "error")
                            }
                            else {
                                darMensajeModal("Exito", result.mensaje, "success", function () {
                                    $("#cancelar").click()
                                    $('#Peliculas').DataTable().destroy();
                                    cargarTabla()
                                })
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Manejar los errores de la petición AJAX
                            darMensajeModal("Error", errorThrown, "error")
                        }
                    });
                }
            });
            $.validator.addMethod("passwordRequirements", function (value, element) {
                return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/.test(value);
            }, "La contraseña debe tener al menos 8 caracteres, una letra minúscula, una letra mayúscula y un número.");

            $('#FormCreateMovie').validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Synopsis: {
                        required: true
                    },
                    Duration: {
                        required: true
                    },
                    Actors: {
                        required: true
                    },
                    Director: {
                        required: true
                    },
                    Image: {
                        required: true
                    }
                },
                messages: {
                    Name: 'El nombre de usuario es requerido',
                    Synopsis: 'La Sinopsis es requerida',
                    Duration: 'La duracion es requerida',
                    Actors: 'Los actores son requeridos',
                    Director: 'El director es requerido',
                    Image: 'La imagen es requerida'
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    console.log("errorPlacement", error, element);
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    })
</script>