<div style="max-width: 1200px;">
    <!-- Contenido del modal aquí -->
    <form id="quickForm">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Crear Usuario</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Nombre de Usuario</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre de Usuario" name="UserName">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" name="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fbi bi-key-fill"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" name="Pass">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelar"><i class="bi bi-arrow-return-left mr-1"></i>Cancelar</button>
                <button type="submit" class="btn btn-outline-info float-right"><i class="bi bi-download mr-1"></i>Guardar</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $(function () {
            $.validator.setDefaults({
                submitHandler: function (form) {
                    var formData = $(form).serialize();
                    $.ajax({
                        url: '@Url.Action("Create","Users")',
                        type: "POST",
                        data: formData,
                        success: function (result) {
                            // Manejar la respuesta de la petición AJAX
                            if (result.error) {
                                darMensajeModal("Error", result.mensaje, "error")
                            }
                            else {
                                darMensajeModal("Exito", result.mensaje, "success", function () {
                                    $("#cancelar").click()
                                    $('#example').DataTable().destroy();
                                    cargarTabla()
                                })
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Manejar los errores de la petición AJAX
                            darMensajeModal("Error", errorThrown, "error")
                        }
                    });
                }
            });
            $.validator.addMethod("passwordRequirements", function (value, element) {
                return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/.test(value);
            }, "La contraseña debe tener al menos 8 caracteres, una letra minúscula, una letra mayúscula y un número.");

            $('#quickForm').validate({
                rules: {
                    UserName: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Pass: {
                        required: true,
                        passwordRequirements: true
                    }
                },
                messages: {
                    UserName: 'El nombre de usuario es requerido',
                    Email: {
                        required: 'El email es requerido',
                        email: 'Ingresa un email valido'
                    },
                    Pass: {
                        required: "La contraseña es requerida",
                        passwordRequirements: "La contraseña debe tener al menos 8 caracteres, una letra minúscula, una letra mayúscula y un número."
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    console.log("errorPlacement", error, element);
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    })
</script>