@using ProyectoFinal.DTO.Responses;
@model EditRolResponse
<div style="max-width: 1200px;">
    <!-- Contenido del modal aquí -->
    <form id="editRol">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Editar Rol</h3>
            </div>
            <div class="card-body">
                <input hidden readonly name="Id" value="@Model.Id" />
                <div class="form-group">
                    <label>Nombre de Usuario</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre de Usuario" value="@Model.Name" name="Name">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelar"> <i class="bi bi-arrow-return-left mr-1"></i>Cancelar</button>
                <button type="submit" class="btn btn-outline-info float-right"> <i class="bi bi-download mr-1"></i>Guardar</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $(function () {
            $.validator.setDefaults({
                submitHandler: function (form) {
                    var formData = $(form).serialize();
                    $.ajax({
                        url: '@Url.Action("Edit","Roles")',
                        type: "POST",
                        data: formData,
                        success: function (result) {
                            // Manejar la respuesta de la petición AJAX
                            if (result.error) {
                                darMensajeModal("Error", result.mensaje, "error")
                            }
                            else {
                                darMensajeModal("Exito", result.mensaje, "success", function () {
                                    $("#cancelar").click()
                                    $('#roles').DataTable().destroy();
                                    cargarTabla()
                                })
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Manejar los errores de la petición AJAX
                            darMensajeModal("Error", errorThrown, "error")
                        }
                    });
                }
            });

            $('#editRol').validate({
                rules: {
                    Name: {
                        required: true
                    }
                },
                messages: {
                    UserName: 'El nombre del rol es requerido'
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    console.log("errorPlacement", error, element);
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    })
</script>

